body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 30px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#logoverlay {
    position: fixed;
    
    background-color: rgba(0,0,0,0.5);
    width: 0;
    height:0;
    top : 0;
    right: 0;
    z-index: 2;
    display: block;
    transition : all 2s;
}
.textin {
    display: block;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}

#loginform {
    display: none;
    position: absolute;
     top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkgray;
}
.nav {
   background-color: black; 
}